# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [8]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
apartamento = dados.Tipo == 'Apartamento'
n1 = len(dados[apartamento])
n1

19532

In [14]:
# Selecione os impoveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
casa = (dados.Tipo == 'Casa') | (dados.Tipo == 'Casa de Condomínio') | (dados.Tipo == 'Casa de Vila')
n2 = len(dados[casa])
n2

2212

In [18]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
lotes_medios = (dados.Area >= 60) & (dados.Area <= 100)
n3 = len(dados[lotes_medios])
n3

8719

In [23]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
custo_beneficio = (dados.Quartos >= 4) & (dados.Valor < 2000)
n4 = len(dados[custo_beneficio])
n4

41

In [24]:
print("Nº de imóveis classificados com tipo 'Apartamento': {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila': {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento': 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila': 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 41