In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [9]:
data = { 'Linha' + str(i) : i + 1 for i in range(5)}

In [10]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [11]:
s = pd.Series(data)

In [12]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
s1 = s + 2

In [14]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [15]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## DataFrame

In [16]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [17]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
df1 = pd.DataFrame(data)

In [19]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
index = ['linha'+str(i) for i in range(3)]

In [21]:
index

['linha0', 'linha1', 'linha2']

In [22]:
df1 = pd.DataFrame(data = data, index = index)

In [23]:
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [24]:
columns = ['coluna'+str(i) for i in range(3)]

In [25]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [26]:
df1[df1 > 0] = 'A'
df1

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [27]:
df2 = pd.concat([df1,df1])
df2

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [30]:
df3 = pd.concat([df1,df1], axis=1)

In [31]:
df3

       coluna0 coluna1 coluna2 coluna0 coluna1 coluna2
linha0       A       A       A       A       A       A
linha1       A       A       A       A       A       A
linha2       A       A       A       A       A       A