In [1]:
import pandas as pd
dados = pd.read_csv('data/car-prices.csv')
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [2]:
# Traduzindo colunas
mapa = {
    'mileage_per_year': 'milhas_por_ano',
    'model_year': 'ano_modelo',
    'price': 'preco',
    'sold': 'vendido'
}
dados = dados.rename(columns = mapa)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco vendido
0           0           21801        2000   30941.02     yes
1           1            7843        1998   40557.96     yes
2           2            7109        2006   89627.50      no
3           3           26823        2015   95276.14      no
4           4            7935        2014  117384.68     yes

In [3]:
# 0 => não vendido, 1 => vendido
a_trocar = {
    'no': 0,
    'yes': 1
}
dados.vendido = dados.vendido.map(a_trocar)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco  vendido
0           0           21801        2000   30941.02        1
1           1            7843        1998   40557.96        1
2           2            7109        2006   89627.50        0
3           3           26823        2015   95276.14        0
4           4            7935        2014  117384.68        1

In [4]:
# Criando coluna da idade do carro
from datetime import datetime

ano_atual = datetime.today().year
dados['idade_modelo'] = ano_atual - dados.ano_modelo
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco  vendido  idade_modelo
0           0           21801        2000   30941.02        1            22
1           1            7843        1998   40557.96        1            24
2           2            7109        2006   89627.50        0            16
3           3           26823        2015   95276.14        0             7
4           4            7935        2014  117384.68        1             8

In [5]:
# Transforma milhas em quilometros
dados['km_por_ano'] = dados.milhas_por_ano * 1.60934
dados.head()

,Unnamed: 0,milhas_por_ano,ano_modelo,preco,vendido,idade_modelo,km_por_ano
0,0,21801,2000,30941.02,1,22,35085.22134
1,1,7843,1998,40557.96,1,24,12622.05362
2,2,7109,2006,89627.50,0,16,11440.79806
3,3,26823,2015,95276.14,0,7,43167.32682
4,4,7935,2014,117384.68,1,8,12770.11290

In [6]:
# Deleta as colunas que não serão utilizadas no modelo
dados.drop(columns = ['Unnamed: 0', 'milhas_por_ano', 'ano_modelo'], axis = 1, inplace = True)
dados.head()

       preco  vendido  idade_modelo   km_por_ano
0   30941.02        1            22  35085.22134
1   40557.96        1            24  12622.05362
2   89627.50        0            16  11440.79806
3   95276.14        0             7  43167.32682
4  117384.68        1             8  12770.11290

In [7]:
# Dados de entrada (x) x Dados de saida (y)
x = dados[['preco', 'idade_modelo', 'km_por_ano']]
y = dados['vendido']

In [8]:
# Testando modelo linear
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

seed = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size = 0.25, random_state = seed, stratify = y)

print("Treinaremos com {} elementos e testaremos com {} elementos".format(len(treino_x), len(teste_x)))

modelo = LinearSVC(random_state = seed)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acuracia foi: ", round(acuracia,2), '%')

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acuracia foi:  58.0 %

C:\Users\mvsam\Anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [9]:
# Comparando acuracia com um Dummy
from sklearn.dummy import DummyClassifier

dummy = DummyClassifier(random_state = seed)
dummy.fit(treino_x, treino_y)
previsoes = dummy.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acuracia do dummy foi: ", round(acuracia,2), '%')

A acuracia do dummy foi:  58.0 %

In [10]:
# Aplicando modelo não linear e com escala padronizada
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

seed = 20

raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x,y, test_size = 0.25, random_state = seed, stratify = y)

print("Treinaremos com {} elementos e testaremos com {} elementos".format(len(treino_x), len(teste_x)))

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = SVC(random_state = seed)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acuracia foi: ", round(acuracia,2), '%')

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acuracia foi:  75.92 %

In [22]:
# Aplicando modelo não linear e com escala padronizada
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

seed = 20

raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x,y, test_size = 0.25, random_state = seed, stratify = y)

print("Treinaremos com {} elementos e testaremos com {} elementos".format(len(treino_x), len(teste_x)))

modelo = DecisionTreeClassifier(random_state = seed, max_depth=3)
modelo.fit(raw_treino_x, treino_y)
previsoes = modelo.predict(raw_teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acuracia foi: ", round(acuracia,2), '%')

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acuracia foi:  78.4 %

In [23]:
from sklearn.tree import export_graphviz
import graphviz

features = x.columns
dot_data = export_graphviz(modelo, feature_names = features, 
                           filled = True, rounded = True,
                           class_names = ['não', 'sim'])
grafico = graphviz.Source(dot_data)
grafico